<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>BookService</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
        .heightCal {
            min-height: calc(100vh - 5rem);
        }
        footer {
            height: 5rem;
        }
        .login-register-form {
            margin-top: 100px;
        }
        .field-error {
         border-color: #dc3545;
         color: #dc3545;
         }
    </style>
</head>
