<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <style>
        .login-register-form {
            margin-top: 50px;
            background: yellow;
        }
    </style>

</head>
<body>
<div class="container heightCal">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <div class="container d-flex justify-content-center margin-top-100">
            <div class="col-md-2 col-lg-3">
                <form th:action="@{/login}" th:object="${loginMember}" method="post">
                    <img class="mb-4" src="img/hani.jpg"  width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
<!--                    <div th:if="${not #strings.isEmpty(notFound)}" class="alert alert-success">-->
<!--                        <p th:text="${notFound}"></p>-->
<!--                    </div>-->
                    <!-- 예시: 에러 메시지 출력 부분 -->
<!--                    <div th:if="${#fields.hasGlobalErrors()}" th:errorclass="field-error">-->
<!--                        <span th:text="${#fields.globalErrors()}"></span>-->
<!--                    </div>-->
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                           th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="id" th:field="*{loginId}" placeholder=""
                        th:errorclass="field-error">
                        <div class="field-error" th:errors="*{loginId}" />
                        <label for="id">아이디</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="" th:errorclass="field-error">
                        <div class="field-error" th:errors="*{password}" />
                        <label for="password">비밀번호</label>
                    </div>

                    <div class="form-check text-start my-3">
                        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-primary w-100 py-2" type="submit">로그인</button>
                    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<script th:if="${successMessage}">
        alert("회원가입에 성공 했습니다.");
   </script>
</html>